@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald.woff2") format("woff2"),
       url("../fonts/oswald.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
}

a{
  text-decoration: none;
}

p{
  margin: 0 0 20px 0;
  line-height: 1.2;
}

.title{
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald";
}

.title_xl{
  font-size: 100px;
}

.title_l{
  font-size: 70px;
}

.title_m{
  font-size: 32px;
}

.title_s{
  font-size: 30px;
}

.flex-container{
  display: flex;
}

.flex-container_header{
  justify-content: space-between;
}

.flex-container_banner{
  flex-direction: column;
  justify-content: center;
}

.flex-container_services{
  justify-content: space-between;
  align-items: flex-start;
}

.main-container{
  min-width: 280px;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header{
  background-color: #fff;
}

.header__logo{
  color: #3d3c3c;
}

.header__logo_orange{
  color: #fd5433;
}

.menu__item{
  display: inline-block;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 17px;
  color: #8e8e8e;
  padding-left: 17px;
  padding-right: 17px;
  cursor: pointer;
}

.header__menu-item{
  padding-top: 42px;
  padding-bottom: 42px;
}

.header__menu-item:hover{
  color: #fff;
  background-color: #fd5433;
}

.banner{
  background-image: url("../images/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  min-height: 800px;
}

.banner__container{
  width: 100%;
}

/*.banner::before{
  content: "";
  position: absolute;
  background-color: rgba(81, 81, 81, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

.banner__title{
  color: #fff;
  margin-bottom: 50px;
  line-height: 1;
}

.banner__button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fd5433;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.8),
  inset 0px 2px 1px 0px rgba(255, 255, 255, 0.3);
  font-family: "Oswald";
  font-size: 32px;
  color: #fff;
  padding: 6px 49px;
  text-transform: uppercase;
  word-spacing: 10px;
}

.banner__button:focus{
  outline: 1px solid black;
}

.section{
  background-color: #fff;
}

.services{
  text-align: center;
}

.section__header{
  border-bottom: 1px solid #8e8e8e;
  padding-top: 29px;
  padding-bottom: 26px;
}

.section__header-title{
  color: #fd5433;
}

.section__content{
  border-bottom: 1px solid #8e8e8e;
  padding-top: 62px;
  padding-bottom: 48px;
}

.services__column{
  box-sizing: border-box;
  width: 33%;
  padding-left: 2%;
  padding-right: 2%;
}

.services__column::before{
  content: "";
  display: inline-block;
  padding-top: 50%;
  padding-right: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 31px;
}

.services__column_branding::before{
  background-image: url("../images/pen.png");
}

.services__column_web-design::before{
  background-image: url("../images/pc.png");
}

.services__column_marketing::before{
  background-image: url("../images/mic.png");
}

.section__content-title{
  margin-bottom: 32px;
  color: #3d3c3c;
}

/*
.portfolio{
  max-width: 662px;
  margin: 0 auto;
}

.portfolio__item{
  float: left;
  width: 16.6667vh;
  height: 16.6667vh;
  position: relative;
  overflow: hidden;
  position: relative;
}

.portfolio__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.about-us__avatar{
  width: 218px;
  height: 218px;
  margin: 63px 27px 63px 25px;
}

.about-us__employee-info{
  background-color: #fd5433;
  color: #fff;
  padding-top: 64px;
  padding-bottom: 47px;
}

.about-us__employee-bio{
  box-sizing: border-box;
  padding-right: 2%;
  width: 48%;
  float: left;
  margin-right: 2%;
}

.about-us__employee-skills{
  width: 50%;
  float: left;
}

.about-us__content{
  margin-bottom: 53px;
}

.about-us__title{
  margin: 0 0 52px 0;
  font-family: "Oswald";
  font-size: 22px;
}

.social-link{
  display: inline-block;
  margin-right: 15px;
}

.socail-icon{
  width: 26px;
  height: 26px;
}
*/
