html{
  font-size: 62.5%;
}

@media screen and (min-width: 1201px) and (max-width: 1440px){

  html{
    font-size: 62.5%;
  }

}

@media screen and (min-width: 641px) and (max-width: 1200px){

  html{
    font-size: 56.25%;
  }
}

@media screen and (max-width: 640px){

  html{
    font-size: 50%;
  }
}

@font-face{
  font-family: "Oswald";
  src: url("../fonts/oswald.woff2") format("woff2"),
       url("../fonts/oswald.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: #3d3c3c;
}

textarea::-moz-placeholder{
  color: #fd5433;
}

textarea::-webkit-input-placeholder{
 color: #fd5433;
 font-size: 2rem;
}

input::-moz-placeholder{
  color: #fd5433;
}

input::-webkit-input-placeholder{
 color: #fd5433;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

p{
  margin: 0 0 2rem 0;
  line-height: 1.4;
}

p:last-child{
  margin-bottom: 0;
}

progress::-webkit-progress-value{
  background-color: #fff;
}

progress::-webkit-progress-bar{
  background-color: #fd5433;
}

progress::-moz-progress-bar{
  background-color: #fff;
}

.title{
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald";
}

.title_l{
  font-size: 3.2rem;
}

.title_m{
  font-size: 3rem;
}

.title_s{
  font-size: 2.5rem;
}

.title_ms{
  font-size: 2.2rem;
}

.main-container{
  box-sizing: border-box;
  max-width: 1170px;
  position: relative;

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header{
  background-color: #fff;
  border-bottom: 1px solid #8e8e8e;
}

@media screen and (min-width: 1201px){

  .header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate3d(0, 0, 0);

    width: 100%;
  }

}

.header__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo{
  color: inherit;
  font-size: 7rem;
}

@media screen and (max-width: 960px){

  .header__logo{
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__logo-symbol{
  color: #fd5433;
}

@media screen and (max-width: 960px){

    .header__navigation{
      display: block;
    }
  }

.header__menu{
  width: 78%;
  flex: none;
  text-align: end;
}

@media screen and (max-width: 960px){

  .header__menu{
    width: 100%;
    text-align: center;
  }
}

.menu__item{
  display: inline-block;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 1.7rem;
  color: inherit;
  padding-left: 1.4%;
  padding-right: 1.4%;
}

@media screen and (max-width: 640px){

  .menu__item{
    font-size: 1.2rem;
  }
}

.header__menu-item{
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  transition: color .4s ease-out, background-color .4s ease-out;
  will-change: color, background-color;
}

@media screen and (max-width: 640px){

  .header__menu-item{
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
  }
}

.header__menu-item:hover{
  color: #fff;
  background-color: #fd5433;

}

.header__menu-item:focus{
  outline: 1px solid #fd5433;
}

.banner{
  background-image: url("../images/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  min-height: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 640px){

  .banner{
    min-height: 40rem;
    background-image: url("../images/banner-img-mobile.png");
  }
}

.banner::before{
  content: "";
  position: absolute;
  background-color: rgba(81, 81, 81, .4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__title{
  font-size: 10rem;
  color: #fff;
  margin-bottom: 5rem;
}

@media screen and (max-width: 640px){

  .banner__title{
    font-size: 5rem;
  }
}

.button{
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: none;

  font-size: 1.6rem;
  font-family: "Oswald";
  color: #fff;
  text-transform: uppercase;

  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, .8), inset 0 2px 1px 0 rgba(255, 255, 255, .3);

  background-color: #fd5433;
  transition: background-color .4s ease-out, color .4s;
}

.banner__button{
  font-size: 3.2rem;
  padding: .6rem 4.9rem;
  word-spacing: 1rem;
}

@media screen and (max-width: 640px){

  .banner__button{
    font-size: 2.6rem;
    padding: .4rem 3rem;
    word-spacing: .7rem;
  }
}

.button:focus, .button:hover{
  color: #fd5433;
  background-color: #fff;
}

.section{
  background-color: #fff;
}

.services{
  text-align: center;
}

.section__header{
  border-bottom: 1px solid #8e8e8e;
  padding-top: 2.9rem;
  padding-bottom: 2.6rem;
}

.section__header-title{
  color: #fd5433;
  text-align: center;
}

.section__content{
  border-bottom: 1px solid #8e8e8e;
}

.services__content{
  padding-top: 6.2rem;
  padding-bottom: 4.8rem;
}

@media screen and (max-width: 640px){

  .services__content{
    padding-top: 3.8rem;
    padding-bottom: 2.8rem;
  }
}

.services__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.services__column{
  box-sizing: border-box;
  width: 33%;
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (max-width: 640px){

  .services__column{
    width: 100%;
    margin-top: 4.1rem;
  }

  .services__column:first-child{
    margin-top: 0;
  }
}

.services__column::before{
  content: "";
  display: inline-block;
  padding-top: 50%;
  padding-right: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3.1rem;
}

@media screen and (max-width: 640px){

  .services__column::before{
    padding-top: 25%;
    padding-right: 25%;
    margin-bottom: 2rem;
  }
}

.services__branding::before{
  background-image: url("../images/pen.png");
}

.services__web-design::before{
  background-image: url("../images/pc.png");
}

.services__marketing::before{
  background-image: url("../images/mic.png");
}

.section__content-title{
  margin-bottom: 3.2rem;
  color: inherit;
}

@media screen and (max-width: 640px){

  .section__content-title{
    margin-bottom: 1.6rem;
  }
}

.portfolio__container{
  max-width: 160rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.portfolio__item{
  padding-top: 14.2%;
  width: 16.667%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 640px){

  .portfolio__item{
    padding-top: 28.4%;
    width: 33.334%;
  }
}

.portfolio__item:hover{
  opacity: .6;
  transition: opacity .5s;
}


.portfolio__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us__employees{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.about-us__column{
  box-sizing: border-box;
  width: 23%;
  padding-right: 2.3%;
  padding-left: 2.3%;
  position: relative;
  text-align: center;
}

.about-us__column:hover{
  opacity: .6;
  transition: opacity .5s;
}

.about-us__employee-info{
  background-color: #fd5433;
  color: #fff;
}

.about-us__container{
  padding-top: 6.5rem;
  padding-bottom: 4.5rem;
}

.about-us__employee{
  display: none;
}

.about-us__employee-radio{
  position: absolute;
  left: -9999px;
}

.about-us__employee-radio:checked + .about-us__employee{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-us__employee-info-column{
  width: 48.6%;
}

@media screen and (max-width: 640px){

  .about-us__container{
    padding-top: 3.4rem;
    padding-bottom: 2.5rem;
  }

  .about-us__employee-info-column{
    width: 100%;
    margin-top: 3.6rem;
  }

  .about-us__employee-info-column:first-child{
    margin-top: 0;
  }
}

.about-us__title{
  text-transform: none;
  margin-bottom: 5.5rem;
}

.about-us__content{
  margin-bottom: 5rem;
}

.about-us__socials-icon{
  display: inline-block;
  margin-right: 1.5rem;
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px){

  .about-us__title{
    margin-bottom: 3.5rem;
  }

  .about-us__content{
    margin-bottom: 3rem;
  }
}

.about-us__socials-icon:hover, .about-us__socials-icon:focus{
  background-color: #9932cc;
}

.about-us__socials-icon:last-child{
  margin-right: 0;
}

.about-us__facebook-icon{
  background-image: url("../images/facebook.svg");
}

.about-us__google-icon{
  background-image: url("../images/google+.svg");
}

.about-us__vimeo-icon{
  background-image: url("../images/vimeo.svg");
}

.about-us__dribbble-icon{
  background-image: url("../images/dribbble.svg");
}

.about-us__youtube-icon{
  background-image: url("../images/youtube.svg");
  width: 3.1rem;
}

.about-us__socials-text{
  position: absolute;
  left: -9999px;
}

.about-us__skill{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.about-us__skill:last-child{
  margin-bottom: 0;
}

.about-us__skill-name{
  display: inline-block;
  text-transform: uppercase;
  width: 29.8%;
}

.about-us__progress-bar{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__skill-progress{
  background-color: #fd5433;
  width: 80%;
  height: 1rem;
  border: none;
  margin-right: 1.5rem;
}

@media screen and (max-width: 640px){

  .about-us__skill-progress{
    width: 60%;
  }
}

.latest-posts__content{
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px){

  .latest-posts__content{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.post{
  width: 48.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8.3rem;
}

@media screen and (max-width: 640px){

  .post{
    width: 100%;
    margin-top: 4.8rem;
  }
}

.post:first-child{
  margin-top: 0;
}

@media screen and (min-width: 641px){

.post:nth-child(2){
  margin-top: 0;
  }

}

.post__column{
  width: 48%;
}

.post__column:first-child{
  text-align: center;
}

@media screen and (max-width: 640px){

  .post__column{
    width: 100%;
    margin-top: 2rem;
  }

  .post__column:first-child{
    margin-top: 0;
  }
}

.post__image{
  margin-top: .9rem;
}

.post__header{
  position: relative;
  margin-bottom: 3.9rem;
  padding-bottom: 17px;
}

.post__header::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8rem;
  border-bottom: 4px solid #fd5433;
}

.post__title{
  color: inherit;
  margin-bottom: .7rem;
}

.post__date{
  display: block;
  font-family: "Oswald";
  font-size: 1.5rem;
  color: #686868;
  text-transform: uppercase;
}

.post__content{
  color: inherit;
}

.contact-us__content{
  background-image: url("../images/contact-us-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}

.contact-us__form{
  margin-bottom: 8.5rem;
}

.form__row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.2rem;
}

.form__row:last-child{
  margin-bottom: 0;
}

.form__column{
  width: 48.6%;
}

@media screen and (max-width: 640px){

  .form__column{
    width: 100%;
    margin-top: 2rem;
  }

  .form__column:first-child{
    margin-top: 0;
  }
}

.field{
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  outline: 0;
}

.field:focus, .field:hover{
  outline: 2px solid #fd5433;
}

.contact-us__label{
  position: absolute;
  left: -9999px;
}

.textarea{
  min-height: 23rem;
  max-height: 40rem;
}

.contact-us__button{
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-size: 2.6rem;
}

@media screen and (max-width: 640px){

  .contact-us__button{
    font-size: 2rem;
  }
}

.contact-us__footer{
  box-sizing: border-box;
  border-top: 1px solid #fff;
  padding-top: 2.3rem;
  padding-bottom: 2.1rem;
  text-align: center;
  min-height: 6rem;
}

.contact-us__copyright{
  font-size: 1.8rem;
  color: #fff;
}
